@import '../../app.component.scss';
@import '../../devices.scss';
@include media(all) {
  .content-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__button {
      width: 30%;
    }
  }
}

@include media(xs) {
  form {
    width: 85%;
  }
  .content-button {
    &__button {
      width: 100%
    }
  }
}