<div class="container__footer">
  <div class="container-sections">
    <div class="container-sections__info">
      <h3>Topic 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="container-sections__info">
      <h3>Topic 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="container-sections__info">
      <h3>Topic 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="container-sections__info">
      <h3>Redes Sociales</h3>
      <div class="container-sections__info--container-images">
        <a href="https://www.facebook.com/BelatrixSoftware"><img src="../../../assets/images/facebook_blanco.png"></a>
        <a href="https://twitter.com/belatrixsf"><img src="../../../assets/images/twitter_blanco.png"></a>
        <a href="https://www.instagram.com/belatrix.software/"><img src="../../../assets/images/instagram_blanco.png"></a>
      </div>
    </div>
  </div>
</div>
