@import '../../app.component.scss';
@import '../../devices.scss';
@include media(all) {
  .image {
    height: 120px;
    margin: 30px;
  }
  .container-rectangles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    &__rectangle {
      height: 20px;
      width: 100px;
      background-color: black;
      border-radius: 5px;
    }
  }
}

@include media(xs) {}