$header_footer_color: aquamarine;
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__header {
    background-color: $header_footer_color;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 25vh;
  }
  &__footer {
    background-color: $header_footer_color;
    height: 30vh;
  }
}
